//
//  Base.xcconfig
//  LokiSDK
//
//  Created by Amandeep Kaile on 19/9/2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
MARKETING_VERSION = 1.0.1
CURRENT_PROJECT_VERSION = 2
TRACKING_SERVICE_URL = https:/$()/gc-loki-core-api-functions.azurewebsites.net/api/v1
